{% extends 'main/base.html' %}
{% load view_templatet %}

{% block content %}
<div class="conatiner-fluid content-inner mt-n5 py-0">
      <div class="row">                  
         <div class="col-lg-12">
            <div class="card   rounded">
               <div class="card-body">
                  <div class="row">
                     <div class="col-sm-12">    
                        <h4 class="mb-2">Рассылка  #{{ object.pk }}</h4>
                        <h6 class="mb-3">Подробная информация о рассылке </h6>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12 mt-4">
                        <div class="table-responsive-lg">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th scope="col"></th>
                                    <th class="text-center" scope="col"></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>
                                       <h6 class="mb-0">Время последней отправки</h6>
                                       <p class="mb-0">Последней попытки отправки сообщений
                                       </p>
                                    </td>
                                    <td class="text-center">{{ object.logs.last.timestamp }}</td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h6 class="mb-0">Статус попыток</h6>
                                       <p class="mb-0">Последней попытки отправки сообщений
                                       </p>
                                    </td>
                                    <td class="text-center">{{ object.logs.last.get_status_display }}</td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h6 class="mb-0">Статус рассылки</h6>
                                       </p>
                                    </td>
                                    <td class="text-center">{{ object.mailing_settings.get_status_display }}</td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h6 class="mb-0">Ответ почтового сервиса</h6>
                                       <p class="mb-0">Сообщение почтового сервиса
                                       </p>
                                    </td>
                                    <td class="text-center">
                                       <div class="" style="height: 100px; overflow: auto">
                                          {{ object.logs.all|mergelistserverresponse|linebreaksbr }}
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <a class="d-flex" href="{% url 'main:edit_settings' object.mailing_settings.pk %}">
                                          <h6 class="mb-0">Настройка</h6>
                                          <svg  width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2 icon-20">
                                             <path d="M13.7476 20.4428H21.0002" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                             <path fill-rule="evenodd" clip-rule="evenodd" d="M12.78 3.79479C13.5557 2.86779 14.95 2.73186 15.8962 3.49173C15.9485 3.53296 17.6295 4.83879 17.6295 4.83879C18.669 5.46719 18.992 6.80311 18.3494 7.82259C18.3153 7.87718 8.81195 19.7645 8.81195 19.7645C8.49578 20.1589 8.01583 20.3918 7.50291 20.3973L3.86353 20.443L3.04353 16.9723C2.92866 16.4843 3.04353 15.9718 3.3597 15.5773L12.78 3.79479Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                             <path d="M11.021 6.00098L16.4732 10.1881" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                         </svg>
                                       </a>
                                       <p class="mb-0">Время и период отправки сообщений
                                       </p>
                                    </td>
                                    <td class="text-center">{{ object.mailing_settings.sending_time }} | {{ object.mailing_settings.get_periodicity_display }}</td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <a class="d-flex" href="{% url 'main:create_client' %}">
                                          <h6 class="mb-0">Клиенты</h6>
                                          <svg  width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2 icon-20">
                                                <path d="M13.7476 20.4428H21.0002" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.78 3.79479C13.5557 2.86779 14.95 2.73186 15.8962 3.49173C15.9485 3.53296 17.6295 4.83879 17.6295 4.83879C18.669 5.46719 18.992 6.80311 18.3494 7.82259C18.3153 7.87718 8.81195 19.7645 8.81195 19.7645C8.49578 20.1589 8.01583 20.3918 7.50291 20.3973L3.86353 20.443L3.04353 16.9723C2.92866 16.4843 3.04353 15.9718 3.3597 15.5773L12.78 3.79479Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M11.021 6.00098L16.4732 10.1881" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </a>
                                       <p class="mb-0">Клиенты, которые участвуют в рассылке</p>
                                    </td>
                                    <td class="text-center">{{ object.clients.all|mergelistclient }}</td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <a class="d-flex" href="{% url 'main:edit_message' object.message.pk %}">
                                          <h6 class="mb-0">Сообщение</h6>
                                          <svg  width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2 icon-20">
                                                   <path d="M13.7476 20.4428H21.0002" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M12.78 3.79479C13.5557 2.86779 14.95 2.73186 15.8962 3.49173C15.9485 3.53296 17.6295 4.83879 17.6295 4.83879C18.669 5.46719 18.992 6.80311 18.3494 7.82259C18.3153 7.87718 8.81195 19.7645 8.81195 19.7645C8.49578 20.1589 8.01583 20.3918 7.50291 20.3973L3.86353 20.443L3.04353 16.9723C2.92866 16.4843 3.04353 15.9718 3.3597 15.5773L12.78 3.79479Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                   <path d="M11.021 6.00098L16.4732 10.1881" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </a>
                                    </td>
                                    <td class="text-center">
                                       {{ object.message.title }}
                                       <hr>
                                       <p>{{ object.message.body }}</p>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>                              
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <p class="mb-0 mt-4">
                           <svg width="30" class="text-primary mb-3 me-2 icon-30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" fill="currentColor"/>
                              <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" fill="currentColor"/>
                              <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" fill="currentColor"/>
                              <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" fill="currentColor"/>
                           </svg>
                           Skychimp
                        </p>
                        <div class="d-flex justify-content-center mt-4">
                           <a type="button" class="btn btn-primary" href="{% url 'main:update_task' object.pk %}">Изменить</a>
                           <a type="button" class="btn btn-danger" href="{% url 'main:delete_task' object.pk %}">Удалить</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>                                    
      </div>
      </div>
{% endblock %}