{% extends 'main/base.html' %}

{% block content %}
<div class="conatiner-fluid content-inner mt-n5 py-0">
<div>
    <div class="row">

        <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">{{ title }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-primary">Создать</button>
                        <a href="{% url 'main:list_mailing' %}" class="btn btn-danger">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
